<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.tms.model.User" name="adam">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="firstname" value="Adam"/>
    </bean>
</beans>